@import "../../../custom-theme.scss";

ion-searchbar {
  --box-shadow: none;
  --border-radius: 10px
}

ion-toolbar {
  --box-shadow: none;
}
.searchbar-icon{
  position: absolute;
  z-index: 200;
  color: black;
  font-size: 20px;
  top: 18px;
  left: 23px;
}
ion-fab-button {
  position: absolute;
  top: 8px;
  right: 26px;
  height: 40px;
  width: 40px;
  --box-shadow: none;

}

ion-icon {
  font-size: 270%;
  color: var(--ion-color-primary-shade)

}
