@import "../../../custom-theme.scss";
ion-searchbar{
  --box-shadow:none;
  --border-radius:10px
}
ion-toolbar{
  --box-shadow:none;
}
ion-fab-button {
  position: absolute;
  top: 8px;
  right: 26px;
  height: 40px;
  width: 40px;
  --box-shadow: none;

}
ion-icon{
  font-size: 270%;
  color:var(--ion-color-primary-shade)

}
